@import '../fonts/MyriadPro/stylesheet.css';

.ios,
.ios * {
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: 'Myriad Pro', sans-serif, 'Arial';
  font-weight: normal;
  background: url("/img/body-bg.jpg") no-repeat center center;
  background-size: cover;
}

.img-phone {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.img-phone-bot {
  height: 12px;
}

.title {
  color: #282828;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 22px;
}

.title-blue {
  color: #00b7f4;
}

.bold {
  font-weight: bold !important;
}

input {
  background: none;
  width: 100%;
  border: 2px solid #3d8ad9;
  border-radius: 3px;
}

input:focus {
  outline: none;
  padding-left: 6px;
}

input[type='submit'] {
  -webkit-appearance: none;
}

.two,
.four,
.six,
.review,
.nine,
.contacts {
  background: rgba(255, 255, 255, 0.5);
}

.five,
.seven {
  overflow: hidden;
}

.shadow {
  text-shadow: 0 -3px 1px #FFFFFF, 0 -3px 1px #FFFFFF, 0 3px 1px #FFFFFF, 0 3px 1px #FFFFFF, -3px 0 1px #FFFFFF, 3px 0 1px #FFFFFF, -3px 0 1px #FFFFFF, 3px 0 1px #FFFFFF, -1px -3px 1px #FFFFFF, 1px -3px 1px #FFFFFF, -1px 3px 1px #FFFFFF, 1px 3px 1px #FFFFFF, -3px -1px 1px #FFFFFF, 3px -1px 1px #FFFFFF, -3px 1px 1px #FFFFFF, 3px 1px 1px #FFFFFF, -2px -3px 1px #FFFFFF, 2px -3px 1px #FFFFFF, -2px 3px 1px #FFFFFF, 2px 3px 1px #FFFFFF, -3px -2px 1px #FFFFFF, 3px -2px 1px #FFFFFF, -3px 2px 1px #FFFFFF, 3px 2px 1px #FFFFFF, -3px -3px 1px #FFFFFF, 3px -3px 1px #FFFFFF, -3px 3px 1px #FFFFFF, 3px 3px 1px #FFFFFF, -3px -3px 1px #FFFFFF, 3px -3px 1px #FFFFFF, -3px 3px 1px #FFFFFF, 3px 3px 1px #FFFFFF;
}

.sm-block-hidden {
  display: block !important;
}

.md-block-hidden {
  display: none !important;
}

.line {
  position: relative;
}

.line-item {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #000;
  top: 50%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 2px;
  border: 1px solid #fff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  background: url("/img/header-bg-pot_01.jpg") no-repeat center center;
  background-size: cover;
  padding: 10px 0 0;
  font-weight: bold;
}

.header-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-list-a:hover {
  color: #0097ff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header-block {
  margin-bottom: 336px;
}

.header-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-nav__item:not(:last-child) {
  margin-right: 45px;
}

.header-nav__item:nth-child(4) {
  margin-right: 117px;
}

.header-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 162px;
  height: 32px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 13px;
  border: 2px solid #3d8ad9;
  background: #fff;
  font-size: 14px;
  font-weight: normal;
}

.header-number__icon {
  font-size: 23px;
  color: #3d8ad9;
  margin-right: 10px;
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 9px;
}

.header-form {
  text-align: center;
  border: 2px solid #3d8ad9;
  border-radius: 4px;
  max-width: 170px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 15px;
  padding: 4px 10px;
  background: rgba(255, 255, 255, 0.5);
  font-size: 12.85px;
  line-height: 16px;
}

.header-form-title {
  color: #0090f8;
}

.header-form-item span {
  font-weight: normal;
}

.header-form-price {
  width: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-main-title {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  color: #001250;
}

.header-main-title h1 {
  font-size: 31.14px;
  text-align: right;
}

.two {
  padding: 20px 0;
}

.two-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 35px;
  text-align: right;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.two-block-left {
  max-width: 300px;
  font-size: 19.53px;
}

.two-block .one {
  max-width: 280px;
}

.two-block .two,
.two-block .four,
.two-block .six,
.two-block .eight {
  padding: 0;
  background: none;
  text-align: left;
}

.two-block .seven .two-block-subtitle,
.two-block .seven .two-block-content {
  max-width: 210px;
}

.two-block-right {
  text-align: center;
  min-width: 145px;
}

.two-block-right-img {
  border: 3px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 11px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 11px rgba(0, 0, 0, 0.5);
}

.two-block .two-block-subtitle,
.two-block .two-block-content {
  line-height: 22px;
  text-align: right;
}

.two-block .one,
.two-block .two,
.two-block .three,
.two-block .four,
.two-block .five,
.two-block .six,
.two-block .seven,
.two-block .eight {
  background: none;
  font-weight: normal;
}

.three {
  padding: 25px 0 17px;
}

.three-title {
  margin-bottom: 30px;
}

.three .col-xl-12 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.three-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold;
}

.three-block:nth-child(5) {
  padding-left: 25px;
}

.three-block:nth-child(4) {
  padding-left: 0;
}

.three-left {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 0;
}

.three-left .three-block:nth-child(2) {
  padding-right: 55px;
}

.three-left .three-block-content {
  margin-right: 30px;
}

.three-right {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-right: 0;
  padding-left: 0;
}

.three-right .three-block:nth-child(2) {
  padding-left: 55px;
}

.three-right .three-block-content {
  margin-left: 20px;
}

.sub-three {
  display: none;
  padding: 10% 0;
  position: relative;
}

.sub-three-buttom {
  background: rgba(255, 255, 255, 0.2);
}

.sub-three-content-item:not(:last-child) {
  margin-bottom: 40px;
}

.sub-three-title {
  width: 100%;
  margin-bottom: 25px;
}

.sub-three-subtitle {
  font-weight: bold;
  margin-bottom: 10%;
  width: 100%;
  font-size: 15px;
}

.sub-three-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sub-three-block {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
  width: 100%;
}

.sub-three-block-left {
  width: 50%;
}

.sub-three-block-right {
  width: 50%;
}

.sub-three-block:nth-child(2) {
  padding-left: 55px !important;
}

.sub-three-block:nth-child(3) {
  padding-left: 40px;
}

.sub-three-block:nth-child(4) {
  padding-left: 40px;
}

.four {
  padding: 18px 0 15px;
  overflow: hidden;
}

.four-title {
  margin-bottom: 0;
}

.four-content {
  margin: 15px 0;
  font-size: 19.53px;
  line-height: 22px;
  max-width: 570px;
}

.four-content__bold {
  font-weight: bold;
}

.four-content:nth-child(1) {
  margin-top: 30px;
}

.four-content:nth-child(3) {
  max-width: 465px;
}

.four-img__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.five {
  padding: 40px 0;
}

.five-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.five-content-list {
  margin-left: 30px;
}

.five-content-list li {
  list-style: disc;
  margin-bottom: 20px;
  font-size: 19.53px;
}

.six {
  padding: 20px 0 55px;
}

.six .container {
  position: relative;
}

.six-cup {
  position: absolute;
  top: 60%;
  left: 10%;
  width: 50%;
}

.six-blue {
  font-size: 19.53px;
  color: #00b7f4;
}

.six-content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.six-content-list-ul {
  margin-left: 30px;
}

.six-content-list-ul-li {
  color: #00b7f4;
  list-style: disc;
  margin-bottom: 17px;
}

.six-content-list-ul-li-p {
  color: #000;
}

.six-content-list-ul-li-p span {
  font-weight: bold;
}

.six-leg {
  min-width: 178px;
}

.six-leg-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.six-block {
  text-align: right;
}

.six-block-subtitle {
  font-weight: bold;
  font-size: 23.44px;
}

.six-block-content {
  font-weight: normal;
  font-size: 19.53px;
  line-height: 20px;
  margin-bottom: 15px;
}

.six-block-content-blue {
  font-weight: bold;
  color: #00b7f4;
  margin-bottom: 55px;
}

.six-block-order {
  text-transform: uppercase;
  background: #0091f7;
  -webkit-box-shadow: 0 0 8px #00b7f4;
  box-shadow: 0 0 8px #00b7f4;
  color: #fff;
  font-size: 32.73px;
  font-weight: bold;
  padding: 20px 113px;
}

.six-cup-add {
  display: none;
}

.seven {
  padding: 40px 0 20px;
  text-align: center;
  font-weight: bold;
}

.seven-block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.seven-block-cup {
  display: none;
  margin: 15px 0;
}

.seven-cup {
  display: none;
}

.seven-top {
  margin-bottom: 56px;
}

.seven-bottom {
  text-align: center;
}

.seven-title {
  margin: 0 auto;
  font-size: 60.56px;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
  line-height: 1.3;
}

.seven-title-main {
  max-width: 780px;
  text-shadow: 0 -3px 0 #FFFFFF, 0 -3px 0 #FFFFFF, 0 3px 0 #FFFFFF, 0 3px 0 #FFFFFF, -3px 0 0 #FFFFFF, 3px 0 0 #FFFFFF, -3px 0 0 #FFFFFF, 3px 0 0 #FFFFFF, -3px -3px 0 #FFFFFF, 3px -3px 0 #FFFFFF, -3px 3px 0 #FFFFFF, 3px 3px 0 #FFFFFF, -3px -3px 0 #FFFFFF, 3px -3px 0 #FFFFFF, -3px 3px 0 #FFFFFF, 3px 3px 0 #FFFFFF;
}

.seven-content {
  font-size: 85.94px;
  color: #0090f8;
  text-transform: uppercase;
}

.review {
  padding: 50px 0;
}

.review .fa {
  font-size: 25px;
  padding-right: 15px;
}

.review-title {
  margin-bottom: 5%;
}

.review-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.review-item img {
  width: 100%;
}

.review-logo {
  width: 15%;
  margin-right: 15px;
}

.review-logo-img {
  width: 100%;
  border-radius: 50%;
}

.review-content {
  width: 75%;
}

.review-content-item {
  border-radius: 70px;
  background: #6d9185;
  margin-bottom: 3%;
  height: 470px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.review-content-item a {
  width: 85%;
}

.review-content-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.review-content-link a {
  border-radius: 75px;
  background: #fff;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.review-content-title {
  margin-bottom: 10px;
}

.review-content-text {
  line-height: 20px;
}

.eight {
  padding: 30px 0;
  text-align: center;
  font-weight: bold;
}

.eight-blue {
  color: #0097ff;
}

.eight .col-xl-10 {
  margin-bottom: 25px;
}

.eight-title {
  font-size: 85.94px;
  text-transform: uppercase;
}

.eight-content {
  font-size: 54.69px;
  max-width: 750px;
  margin: 0 auto;
  line-height: 1.3;
}

.eight-content-blue {
  font-size: 70.32px;
  color: #0097ff;
}

.eight-days {
  text-transform: uppercase;
}

.eight-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.nine {
  padding: 20px 0;
  text-align: center;
  font-weight: bold;
}

.nine-content {
  font-size: 56.25px;
  margin-bottom: 10px;
}

.nine-content-blue {
  font-size: 62.5px;
  text-transform: uppercase;
}

.nine-content-blue-bottom {
  font-size: 78.13px;
}

.nine-content-creator {
  min-width: 100%;
}

.formSection {
  padding: 26px 15px;
  font-weight: bold;
}

.formSection-form {
  background: none;
  max-width: 855px !important;
  font-size: 67.06px;
  line-height: 1.2;
  margin: 0 auto;
  border: 6px solid #57b7f9;
  border-radius: 13px;
}

.formSection-form-price {
  width: 80%;
  margin: 0 auto 25px;
}

.formSection-form-item {
  margin: 0 auto;
}

.formSection-main {
  width: 100%;
  padding: 0 55px;
}

.formSection-main form {
  position: relative;
}

.formSection-main form input {
  height: 100px;
  background: #fff;
  border-radius: 9px;
  border: 2px solid #3d8ad9;
  font-size: 56.25px;
  margin-bottom: 23px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.formSection-main form input::-webkit-input-placeholder {
  font-size: 56.25px;
  color: #000;
}

.formSection-main form input::-moz-placeholder {
  font-size: 56.25px;
  color: #000;
}

.formSection-main form input:-ms-input-placeholder {
  font-size: 56.25px;
  color: #000;
}

.formSection-main form input::-ms-input-placeholder {
  font-size: 56.25px;
  color: #000;
}

.formSection-main form input::placeholder {
  font-size: 56.25px;
  color: #000;
}

.formSection-main form .online_phone {
  padding-left: 20px;
  width: 80%;
  margin-bottom: 0px;
  height: 100%;
  border: none;
  background: none;
  border-radius: none;
}

.formSection-main form input[type='submit'] {
  margin-top: 35px;
  height: 142px;
  border-radius: 15px;
  border: 6px solid #fff;
  font-size: 63.79px;
  background: #0091f7;
  color: #fff;
  padding-left: 0;
}

.formSection-main-block-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  background: #fff;
  border-radius: 9px;
  border: 2px solid #3d8ad9;
}

.formSection-main-img {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.formSection-main-img img {
  width: 75%;
}

.contacts {
  padding: 20px 0 0;
}

.contacts-title {
  font-size: 28.13px;
  text-align: center;
  margin-bottom: 10px;
}

.contacts-subtitle,
.contacts a {
  margin-bottom: 5px;
}

.contacts-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contacts-items-mail a {
  display: block;
}

.contacts-items-social-links {
  padding-left: 14px;
}

.contacts-items-social-links a {
  margin-right: 2px;
}

.contacts-item {
  text-align: left;
}

.contacts-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts iframe {
  margin-bottom: 17px;
  width: 600px;
  height: 450px;
}

.contacts .col-xl-8 {
  text-align: center;
}

.contacts-man {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.contacts-man img {
  width: 100%;
}

.contacts-call-title {
  font-size: 100px;
  font-weight: bold;
  margin-left: 55px;
  text-transform: uppercase;
}

.contacts-call-subtitle {
  margin-left: 55px;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 60px;
}

.contacts-call-content {
  margin-left: 55px;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 55px;
}

.contacts-call-content span {
  text-transform: uppercase;
  font-weight: bold;
}

.contacts-call-man {
  position: relative;
}

.contacts-call-pot {
  position: absolute;
  top: -195px;
  right: 0;
}

.footer {
  background: #959595;
  padding: 10px 0;
}

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-policity,
.footer-rights {
  font-size: 18.75px;
  line-height: 1.2;
  text-align: center;
}

.footer-policity {
  text-decoration: underline;
}

.footer-social a {
  margin-right: 10px;
}

@media (max-width: 1200px) {
  .header-nav__item:nth-child(4) {
    margin-right: 5%;
  }

  .six-cup {
    left: 0;
  }

  .contacts-call-title {
    margin-left: 0%;
    font-size: 40px;
  }

  .contacts-call-subtitle {
    margin-left: 0%;
    font-size: 35px;
    margin-bottom: 5%;
  }

  .contacts-call-content {
    margin-left: 0%;
    font-size: 30px;
    margin-bottom: 5%;
  }

  .contacts-call-pot {
    display: none;
  }
}

@media (max-width: 992px) {
  .header-nav__item:not(:last-child) {
    margin-right: 5%;
  }

  .header-main-title h1 {
    font-size: 20px;
    text-align: left;
  }

  .two-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .two-block .one {
    max-width: 300px;
  }

  .two-block .seven .two-block-subtitle,
  .two-block .seven .two-block-content {
    width: 100%;
  }

  .two-block .one,
  .two-block .two,
  .two-block .three,
  .two-block .four,
  .two-block .five,
  .two-block .six,
  .two-block .seven,
  .two-block .eight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .three-block-right {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    min-width: 50%;
  }

  .three-block-right-img {
    width: 75px;
    border: 2px solid #fff;
  }

  .three-skeleton {
    height: 250px;
  }

  .three-block-content {
    text-align: center;
    font-size: 18px;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .five-content-list li {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .six {
    padding-bottom: 10px;
  }

  .six-cup {
    display: none;
  }

  .six-content-list-ul-li-p {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .six-content-list-ul-li-p span {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .six-block-subtitle {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .six-block-content {
    font-size: 18px;
    margin-bottom: 45px;
  }

  .six-block-order {
    font-size: 18px;
    padding: 18px 85px;
  }

  .seven-cup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .seven-top {
    margin-bottom: 20px;
  }

  .seven-title {
    font-size: 50px;
  }

  .seven-content {
    font-size: 55px;
  }

  .eight-title {
    font-size: 55px;
  }

  .eight-content {
    font-size: 45px;
  }

  .eight-content-blue {
    font-size: 55px;
  }

  .eight-images img {
    max-width: 250px;
    max-height: 250px;
  }

  .nine-img {
    width: 100%;
  }

  .formSection-form {
    font-size: 55px;
  }

  .formSection-form-price {
    width: 100%;
  }

  .formSection-main {
    padding: 0 2px;
  }

  .formSection-main form input {
    height: 90px;
    font-size: 45px;
  }

  .formSection-main form input::-webkit-input-placeholder {
    font-size: 45px;
  }

  .formSection-main form input::-moz-placeholder {
    font-size: 45px;
  }

  .formSection-main form input:-ms-input-placeholder {
    font-size: 45px;
  }

  .formSection-main form input::-ms-input-placeholder {
    font-size: 45px;
  }

  .formSection-main form input::placeholder {
    font-size: 45px;
  }

  .formSection-main form input[type='submit'] {
    font-size: 45px;
  }

  .formSection-main-block-img {
    height: 90px;
    font-size: 45px;
  }

  .contacts-call-title {
    font-size: 30px;
  }

  .contacts-call-subtitle {
    font-size: 25px;
  }

  .contacts-call-content {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .header-block {
    margin-bottom: 336px;
  }

  .header-nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .header-nav__item {
    margin-bottom: 1%;
  }

  .header-nav__item a {
    font-size: 12px;
  }

  .header-nav__item:not(:last-child) {
    margin-right: 0;
  }

  .header-nav__item:nth-child(4) {
    margin-right: 0;
  }

  .header-number {
    margin-bottom: 1%;
    width: 130px;
  }

  .header-number__icon {
    font-size: 15px;
  }

  .header-number a {
    font-size: 10px;
  }

  .header-row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header-form {
    margin-right: 0px;
  }

  .three-block-right-img {
    width: 50px;
    border: 1px solid #fff;
  }

  .three-left .three-block:nth-child(2) {
    padding-right: 25px;
  }

  .three-right {
    width: 25px;
  }

  .three-right .three-block:nth-child(2) {
    padding-left: 25px;
  }

  .three-block-content {
    font-size: 15px;
    font-weight: normal;
  }

  .sub-three-block-right-img {
    width: 124px !important;
  }

  .four-content {
    font-size: 15px;
    line-height: 15px;
  }

  .five-content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .five-content-list {
    margin-left: 15px;
  }

  .five-content-list li {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .six-content-list-ul-li-p {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .six-content-list-ul-li-p span {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .six-leg {
    min-width: 50%;
  }

  .six-block-subtitle {
    font-size: 15px;
    margin-bottom: 15px;
    text-align: center;
  }

  .six-block-content {
    font-size: 15px;
    margin-bottom: 35px;
    text-align: left;
  }

  .six-block-order {
    font-size: 15px;
    padding: 15px 70px;
  }

  .seven-title {
    font-size: 40px;
  }

  .seven-content {
    font-size: 45px;
  }

  .eight-title {
    font-size: 35px;
  }

  .eight-content {
    font-size: 35px;
  }

  .eight-content-blue {
    font-size: 45px;
  }

  .eight-images img {
    max-width: 100%;
    max-height: 100%;
  }

  .formSection-form {
    font-size: 45px;
  }

  .formSection-main form input {
    height: 70px;
    font-size: 35px;
  }

  .formSection-main form input::-webkit-input-placeholder {
    font-size: 35px;
  }

  .formSection-main form input::-moz-placeholder {
    font-size: 35px;
  }

  .formSection-main form input:-ms-input-placeholder {
    font-size: 35px;
  }

  .formSection-main form input::-ms-input-placeholder {
    font-size: 35px;
  }

  .formSection-main form input::placeholder {
    font-size: 35px;
  }

  .formSection-main form input[type='submit'] {
    font-size: 35px;
  }

  .formSection-main-block-img {
    height: 70px;
    font-size: 35px;
  }

  .contacts iframe {
    width: 100%;
  }

  .contacts-man img {
    display: none;
  }

  .contacts-call-title {
    font-size: 25px;
  }

  .contacts-call-subtitle {
    font-size: 20px;
  }

  .contacts-call-content {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 30px;
  }

  .shadow {
    text-shadow: 0 -2px 1px #FFFFFF, 0 -2px 1px #FFFFFF, 0 2px 1px #FFFFFF, 0 2px 1px #FFFFFF, -2px 0 1px #FFFFFF, 2px 0 1px #FFFFFF, -2px 0 1px #FFFFFF, 2px 0 1px #FFFFFF, -1px -2px 1px #FFFFFF, 1px -2px 1px #FFFFFF, -1px 2px 1px #FFFFFF, 1px 2px 1px #FFFFFF, -2px -1px 1px #FFFFFF, 2px -1px 1px #FFFFFF, -2px 1px 1px #FFFFFF, 2px 1px 1px #FFFFFF, -2px -2px 1px #FFFFFF, 2px -2px 1px #FFFFFF, -2px 2px 1px #FFFFFF, 2px 2px 1px #FFFFFF, -2px -2px 1px #FFFFFF, 2px -2px 1px #FFFFFF, -2px 2px 1px #FFFFFF, 2px 2px 1px #FFFFFF;
  }

  .sm-block-hidden {
    display: none !important;
  }

  .md-block-hidden {
    display: block !important;
  }

  .line-item {
    height: 1px;
  }

  .header #header-list-one {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }

  .header #header-list-two {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }

  .header #header-list-three {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .header #header-list-four {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .header #header-list-five {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }

  .header-main-title {
    height: 30px;
  }

  .header-main-title h1 {
    text-align: center;
    font-size: 15px;
    text-shadow: 0 -1px 1px #FFFFFF, 0 -1px 1px #FFFFFF, 0 1px 1px #FFFFFF, 0 1px 1px #FFFFFF, -1px 0 1px #FFFFFF, 1px 0 1px #FFFFFF, -1px 0 1px #FFFFFF, 1px 0 1px #FFFFFF, -1px -1px 1px #FFFFFF, 1px -1px 1px #FFFFFF, -1px 1px 1px #FFFFFF, 1px 1px 1px #FFFFFF, -1px -1px 1px #FFFFFF, 1px -1px 1px #FFFFFF, -1px 1px 1px #FFFFFF, 1px 1px 1px #FFFFFF;
  }

  .two-block-left-add {
    min-height: 90px !important;
    margin-bottom: 10px;
  }

  .two-block .two-block-subtitle,
  .two-block .two-block-content {
    text-align: center;
    font-size: 15px;
    line-height: 15px;
  }

  .two-block .two-block-subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 30px;
  }

  .two-block .two-block-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .two-block .one,
  .two-block .two,
  .two-block .three,
  .two-block .four,
  .two-block .five,
  .two-block .six,
  .two-block .seven,
  .two-block .eight {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
  }

  .three {
    display: none;
  }

  .three-left .three-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .three-right .three-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .sub-three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .five-content-list li {
    margin-bottom: 7px;
  }

  .six-content-list-ul-li {
    margin-bottom: 7px;
    text-align: left;
  }

  .six-content-list-ul-li-p {
    list-style: none;
    margin-bottom: 7px;
  }

  .six-content-list-ul-li-p span {
    font-size: 10px;
    margin-bottom: 7px;
  }

  .six-leg-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 25px;
  }

  .six-block {
    text-align: center;
  }

  .six-block-subtitle {
    margin-bottom: 7px;
  }

  .six-block-content {
    line-height: 15px;
    margin-bottom: 17px;
    margin-left: 15px;
    text-align: left;
  }

  .six-block-content-blue {
    text-align: center;
    line-height: 15px;
    margin: 0 auto;
    margin-bottom: 17px;
    width: 80%;
  }

  .six-block-order {
    font-size: 10px;
    padding: 12px 20px;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    border-radius: 3px;
  }

  .six-cup-add {
    display: block;
    margin-bottom: 0px;
  }

  .seven-block-cup {
    display: block;
  }

  .seven-block-subtitle {
    margin: 0 auto 15px;
    width: 60%;
  }

  .seven-cup {
    width: 100%;
  }

  .seven-bottom {
    margin-top: -15%;
    margin-bottom: 15px;
  }

  .seven-title {
    font-size: 30px;
    margin-bottom: 0;
  }

  .seven-content {
    font-size: 35px;
  }

  .review-content-item {
    padding: 10% 0;
    height: 80%;
  }

  .review-content-link {
    height: 15%;
  }

  .review-content-link a {
    text-align: center;
    height: 100%;
    padding: 0px;
  }

  .review-content-title {
    font-size: 15px;
    line-height: 17px;
  }

  .review-content-text {
    font-size: 15px;
    line-height: 17px;
  }

  .eight-title {
    font-size: 25px;
  }

  .eight-content {
    font-size: 25px;
  }

  .eight-content-blue {
    font-size: 35px;
  }

  .eight-images img {
    max-width: 150px;
    max-height: 150px;
  }

  .formSection-form {
    border: 3px solid #57b7f9;
    font-size: 35px;
  }

  .formSection-form-item {
    font-size: 25px;
  }

  .formSection-main form input {
    margin-bottom: 10px;
    height: 50px;
    font-size: 25px;
  }

  .formSection-main form input::-webkit-input-placeholder {
    font-size: 25px;
  }

  .formSection-main form input::-moz-placeholder {
    font-size: 25px;
  }

  .formSection-main form input:-ms-input-placeholder {
    font-size: 25px;
  }

  .formSection-main form input::-ms-input-placeholder {
    font-size: 25px;
  }

  .formSection-main form input::placeholder {
    font-size: 25px;
  }

  .formSection-main form .online_phone {
    width: 85%;
    padding-left: 0;
  }

  .formSection-main form input[type='submit'] {
    border: 3px solid #fff;
    border-radius: 6px;
    font-size: 25px;
    margin-top: 5px;
    height: 60px;
  }

  .formSection-main-block-img {
    margin-bottom: 10px;
    height: 50px;
    font-size: 26px;
  }

  .formSection-main-img {
    width: 15%;
  }

  .formSection-main-img img {
    width: 70%;
  }

  .contacts-items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .contacts-call-title {
    font-size: 20px;
  }

  .contacts-call-subtitle {
    font-size: 15px;
  }

  .contacts-call-content {
    font-size: 10px;
  }

  .footer-items {
    margin-bottom: 25px;
  }
}

@media (max-width: 320px) {
  .formSection-main form input {
    font-size: 20px;
  }

  .formSection-main form input::-webkit-input-placeholder {
    font-size: 20px;
  }

  .formSection-main form input::-moz-placeholder {
    font-size: 20px;
  }

  .formSection-main form input:-ms-input-placeholder {
    font-size: 20px;
  }

  .formSection-main form input::-ms-input-placeholder {
    font-size: 20px;
  }

  .formSection-main form input::placeholder {
    font-size: 20px;
  }
}